@media print{
        body{
            background: white !important;
        }
        .card{
            border:1px solid rgba(0, 0, 0, 0.125) !important;
        }
        .n_print{
            display: none !important;
        }
        .main_print{
            flex: 0 0 100% !important;
            max-width: 100% !important;
        }
        .print_act{
            display: none;
        }
    }

.close_btn{
  position: absolute;
  bottom: 10px;
  left: 240px;

}

._to_fade{
  display: none !important;
  -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, left 0.3s ease-out;
		        transition: opacity 0.3s linear, left 0.3s ease-out;
}

/*Left*/
	.sidebar.n_print.fade_out{
		left: -230px;
  }

  /*Left*/
	.sidebar.n_print{
		-webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, left 0.3s ease-out;
		        transition: opacity 0.3s linear, left 0.3s ease-out;
  }

  .main_{
		-webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, left 0.3s ease-out;
		        transition: opacity 0.3s linear, left 0.3s ease-out;
	}

	.sidebar.n_print.fade_in {
		left: 0;
	}


body {
  font-size: .875rem;
  background: #f8f9fa;
  color:#4a4a4a;
}

.table th{
  border-bottom: 0px !important;
}

.tableFixHead    { overflow-y: auto; height:700px; }
.tableFixHead th { position: sticky !important; top: 0; }

table  { border-collapse: collapse; width: 100%; }
th, td { padding: 8px 16px; }
th { background:#a0ce4e !important; color: #383838; border-left: 0.5px solid #dee2e6}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

 .bg-progresso{
  background: #a0ce4e !important;
  color: #e5e5e5;
  font-weight: 500;
 }

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 58px; /* Height of navbar */
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: rgba(0,0,0,0.65);
  margin-bottom: 8px;
}

.sidebar .nav-link .feather {
  margin-right: 2px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
  background: #d9e0e8;
  border-radius: 0px 90px 90px 0px;
  border: 2px solid #d9e0e8;
}

.sidebar .nav-link:hover{
  background: #d9e0e8;
  border-radius: 0px 90px 90px 0px;
  color:#007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  text-transform: uppercase;
  color: #383838 !important;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
.box-shadow {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
}
.width-auto{
    width: auto;
    padding-right: 15px;
}
/**
*** Lablel and &
**/

.label-default {
    background-color: #777;
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
